
@{
    ViewBag.Title = "ShowAllMessages";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>All Messages</h2>
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Sender Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Delete</th>
            <th>Open The Message</th>
        </tr>
    </thead>

    <tbody>


        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-outline-danger">Delete</a> </td>
                <td>
                    <a href="/Message/MessageDetail/@item.MessageID" class="btn btn-outline-info">
                        Open The message
                    </a>
                </td>
            </tr>

        }

    </tbody>

</table>
<a href="/Message/Index" class="btn btn-success"> Go back to unread messages</a>

