
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/Templates/sb-admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <style>
        .partial-container {
            border: 1px solid #ddd; /* Kenarlık stili */
            border-radius: 5px; /* Köşelerin yuvarlanması */
            padding: 15px; /* İç boşluk */
            margin-bottom: 20px; /* Alt boşluk */
            margin-top: 20px; /* Üst boşluk */
            background-color: #f9f9f9; /* Hafif bir arka plan rengi */
        }
    </style>

</head>
